/* Default styles */
.newsletter {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    gap: 30px;
}

.newsletter h1 {
    color: #454545;
    font-size: 55px; /* Use 'font-size' instead of 'font-style' */
    font-weight: 600;
}

.newsletter p {
    color: #454545;
    font-size: 20px;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter input {
    width: 100%; /* Adjust width for smaller screens */
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
}

.newsletter button {
    width: 100%; /* Adjust width for smaller screens */
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Media Query for smaller screens with a maximum width of 768 pixels */
@media only screen and (max-width: 768px) {
    .newsletter {
        width: 80%; /* Adjust width for smaller screens */
        padding: 0px 20px; /* Adjust padding for smaller screens */
        height: auto; /* Allow height to adjust based on content */
    }

    .newsletter h1 {
        font-size: 40px; /* Adjust font size for smaller screens */
    }

    .newsletter div {
        width: 100%; /* Adjust width for smaller screens */
    }

    .newsletter input {
        width: 100%; /* Adjust width for smaller screens */
        margin-left: 10px; /* Adjust margin for smaller screens */
    }

    .newsletter button {
        width: 100%; /* Adjust width for smaller screens */
    }
}
